/*COLORS BUTTONS*/
:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
}

/*COLORS BASE*/
:root {
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
}


/*COLORS TEXTS*/
:root {
  --text-color-primary: #F1F5FF;
  --text-color-secondary: #CBD5E1;
}

/*STYLES AND FONTS*/
:root {
  --font-family: 'Archivo', sans-serif;
  --text-sm: 14px/160% var(--font-family);
  --text: 400 14px/145% var(--font-family);
  --text-span: 600 14px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h1: 800 24px/135% var(--font-family);
}

/* CSS GLOBAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  font: var(--text);
}

/* LINKS */
a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--brand-color-light);
}

h1,h2,h3 {
  font: inherit; /* Esqueça as fontes do navegador e se configure conforme eu for adicionando aqui! Vamos usar muito disso pois existem vários H na página e modificaremos de formas diferentes*/
}

.container {
  max-width: 1280px;
  padding-inline: 32px; /* distância entre a lateral*/
  margin-inline: auto;
}

img {
  max-width: 100%;
  
}

main {
  margin-top: 40px;
  gap: 80px;
}

.content-tag {
  display: inline-block; /*Manter os dois comportamentos, posso estilizar com padding, bottom, margin, etc. Além disso o tamanho dela em block que fica enorme*/

  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 10px/120% var(--font-family);
  text-transform: uppercase;

  letter-spacing: 0.04em; /*em = de acordo com a referência da font-pai*/

  color: var(--text-color-primary);

  box-shadow: 10px 4px 16px rgba(2, 6, 23, 0.267)70
  /*box-shadow: move X move Y blur color*/
}

/*Fontes aplicavéis*/
.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--text-sm);
}

